#checkoutForm {
    width: 700px;
    padding: 10px;
}
#checkoutComponents {
    width: 1100px;
    margin: auto;
}

#bookingReceipt {
    width: 310px;
}

#btnCompleteBooking {
    width: 310px;
}

#btnCompleteBooking:active {
    background-color: rgb(59, 77, 145);
}

#btnCompleteBooking:hover:enabled {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(59, 77, 145);
    box-shadow: 0 5px 15px rgb(63, 0, 114);
}

#checkoutFormContainer {
    display: inline-flex;
    margin: 5px;
}

#checkoutReceiptContainer {
    display: inline-flex;
    margin: 5px;
}
