#complaint {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

#checkoutForm input:required {
    border-color: #800000;
    border-width: 2px;
}

#checkoutForm input:valid {
    border-width: 1px;
    border-color: #d8dee9;
    background-color: #fcfcfc;
}

input {
    height: 40px;
    width: 300px;
    border-radius: 4px;
    padding-left: 5px;
    margin-top: 3px;
    border-width: 1px;
    border-color: #d8dee9;
    background-color: #fcfcfc;
}

textarea {
    height: 150px;
    width: 300px;
    border-radius: 4px;
    padding-left: 5px;
    padding-top: 5px;
    margin-top: 3px;
    border-width: 1px;
    border-color: #d8dee9;
    background-color: #fcfcfc;
}

#btnSubmit {
    width: 310px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: gray;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

#btnSubmit:enabled {
    background: rgb(59, 77, 145);
}

#btnSubmit:hover:enabled {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(63, 0, 114);
}
