table {
    padding-bottom: 20px;
}

table th {
    display: flexbox;
    padding-right: 70px;
}

table td {
    display: flexbox;
    padding-top: 15px;
}

#noFlights {
    padding-bottom: 200px;
}

#txtNameChange {
    width: 110px;
    height: 20px;
    justify-content: center;
    margin: 0%;
}

table a {
    text-decoration: none;
    height: 5px;
    width: 5px;
}
