#successContent {
    text-align: center;
}

#successRedirects button {
    width: 200px;
    margin: 5px;
}

#successRedirects a {
    text-decoration: none;
    color: rgb(59, 77, 145);
}

#successRedirects a:hover {
    color: rgb(108, 140, 255);
}
