main {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#supportPageTitle {
    align-items: center;
    text-align: center;
}

#content {
    margin-left: auto;
    margin-right: auto;
}
