#tripsContent {
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
}

#manageButtons {
    display: flex;
}

#manageButtons a {
    padding-bottom: 20px;
    margin-right: 60px;
    margin-top: 20px;
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
}

#addFlightLink {
    color: rgb(59, 77, 145);
}

.toggleSelected {
    color: rgb(33, 33, 33);
}

.toggleUnselected {
    color: rgb(59, 77, 145);
}
