#updateFormContent {
    padding-bottom: 200px;
}

.updateFormTitle {
    color: rgb(59, 77, 145);
    font-weight: 700;
    font-size: large;
    margin-bottom: 10px;
}

.flightDetails {
    font-weight: 600;
}

#newPrice {
    font-weight: 600;
}

#btnSubmitChanges:enabled {
    background: rgb(59, 77, 145);
    color: rgba(255, 255, 255, 0.8);
}

#btnSubmitChanges:hover:enabled {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(63, 0, 114);
}
