table {
    padding-bottom: 200px;
}
table th {
    display: flexbox;
    padding-right: 70px;
}

table td {
    display: flexbox;
    padding-top: 15px;
}

p {
    padding-bottom: 200px;
}

table a {
    text-decoration: none;
    height: 5px;
    width: 5px;
}
